.marketInfoContainer {
    margin-top: 10px;
    padding:0px 10px;
}
.card {
    margin-bottom: 30px;
}
.cardTitle
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cardTitle h2 span {
    margin-left: 50px;
}

.plusIcon {
    font-size: 25px;
    color: #C1982D;
}
/* table */
.tableHeader,.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tableRowContainer {
    
    border-bottom: 1px solid #D5D5D5;
}
.tableHeader{
    border-bottom: 1px solid #D5D5D5;
}

.tableRow {
    cursor: pointer;
}

.tableRow,.tableRow p{
    border:none;
    padding:0px !important;
    margin: 0px !important;
}

.tableHeader div,.tableRow div  {
    text-align: right;
    width: 25%;
}

.tableTitle,.tableData{
    font-size: 16px;
    color:#656B72  !important;
}

.tableTitleFirst,.tableDataFirst {
    text-align: left !important;
}
.tableDataFirst{
    color:#876203 !important;
    font-size: 18px;
    font-weight: bold;
}

.longSymbol {
    width: 100%;
    color:  #656B72 !important;
}


.normalText {
    color:black !important;
    font-weight: bold;
}

.successText {
    color:green !important;
    font-weight: bold;
}

.dangerText {
    color:red !important;
    font-weight: bold;
}



