.card {
    margin-top: 10px;
    padding: 5px 20px;
    box-shadow: 0.3px 5px 3px rgb(214, 213, 213);
}

.newItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.newItem img {
    width:25%;
    height: 100px;
    object-position: center;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 1% 0px 3%;
}

.caption p {
    font-size:14px;
    text-align: justify;
}



@media only screen and (min-width: 1300px) {
    .mobileNewsListCard{
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .card {
        display: none;
    }
    .mobileNewsListCard {
        display: block;
        margin-top:20px;
        padding:5px;
        max-width: 100%;
    }

    .newsListMobile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin:5px;
        overflow-x: auto;
    }

    .newItem {
        display: flex;
        flex:1;
        flex-direction: column;
        min-width:180px !important;
        border: 1px solid #D5D5D5;
        box-sizing: border-box;
        margin-right: 20px;
    }

 
    
    .caption p ,.caption span{
        font-size:12px;
        text-align: justify;
    }

    .newItem img {
        width:100%;
        
    }

}