.actionContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(44, 41, 41);
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    padding-top: 10px;
}
.actionButtons {
    display: flex;
    flex-direction: row;
    
}

.actionButton {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}
.actionButton p {
    margin-left: 5px;
    font-size: 15px;
}

.activityContainer{
    flex:2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.activityContainer p {
    font-size:16px;
    margin-right: 10px;
}

@media only screen and (max-width: 630px){
    .activityContainer p {
        font-size:14px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1400px){
    .actionButtons .actionButton {
        width: 80px;
    }
}


